
.our-story-p
{
    width: 50vw;
    font-weight: 400;
    font-size: .9rem;

}

.honolulu-img
{
    width: 6%;
    margin: 1%; 
}

.about-header
{
        font-weight: 350;
        padding-top: 4%;
        padding-bottom: 1%;
}


.honolulu-header
{
        font-weight: 400;
        padding-top: 3%; 
}

.signatur-img
{
    width: 20%; 
}


.about-us-wrapper
{
    text-align: center;
    width: 100vw;
    display: flex;
    padding: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(248, 248, 248);
        background: linear-gradient(0deg, rgba(248, 248, 248, 0.5013655120251226) 8%, rgba(230, 230, 230, 0.308) 51%, rgba(238, 238, 240, 0.843) 99%);
    font-family: "Raleway", sans-serif;
}

@media (max-width: 768px) 
{
.signatur-img {
        width: 50%;
    }

        .our-story-p {
            width: 80vw;
            font-weight: 400;
            font-size: .9rem;
    
        }

                .honolulu-img {
                    width: 9%;
                    margin: 1%;
                }
}
