
.our-story-p
{
    width: 43vw;
    font-weight: 400;
    font-size: .9rem;

}

.signature-wrapper
{

    display: flex;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.bg-cont
{
    box-shadow: 10px 10px 30px rgba(128, 128, 128, 0.5);

}

.honolulu-img
{
    width: 6%;
    margin: 1%; 
}

.about-header
{
        font-weight: 280;
        margin-bottom: 4%;
        margin-top: 7%;

}


.honolulu-header
{
        font-weight: 400;
        padding-top: 3%; 
}

.signatur-img
{
    width: 30%; 
}


.about-us-wrapper
{
    text-align: center;
    width: 100vw;
    display: flex;
    padding: 3%;
    height: 150vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    font-family: "Raleway", sans-serif;
}

@media (max-width: 768px) 
{
    .about-us-wrapper
    {
        height: 220vh;

    }
        .about-header
        {
            padding-bottom: 8%;
        }
.signatur-img {
    margin-top: 3%;
        width: 50%;
    }

        .our-story-p {
            width: 80vw;
            font-weight: 400;
            font-size: .9rem;
    
        }

                .honolulu-img {
                    width: 9%;
                    margin: 1%;
                }
}
