
.our-story-p
{
    width: 50vw;
    font-weight: 400;
    font-size: .9rem;

}

.about-header
{
        font-weight: 200;
        padding-top: 4%;
        padding-bottom: 1%;
}


.honolulu-header
{
        font-weight: 300;
        padding-top: 3%; 
}

.signatur-img
{
    width: 20%; 
}


.about-us-wrapper
{
    text-align: center;
    background-color: rgb(255, 247, 247);
    width: 100vw;
    display: flex;
    padding: 3%;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
}
