.bg-footer 
{

    padding: 50px 0 30px;
    height: 55vh;
    background-color: rgb(230, 229, 229);
        font-size: 14px;
                font-family: "Raleway", sans-serif;
}

.footer-heading {
    letter-spacing: 3px;
}

.mail-icon
{
    font-size: 1.4rem;
}

.org-icon
{
    font-size: 1.4rem;
}

.footer-link a {
 
    line-height: 40px;

    transition: all 0.5s;
}

.footer-link a:hover {
    color: #444237;
}

.tabicon-footer {
    width: 20%;
    margin-bottom: 5%; 

    border-radius: 50%;
}



.company-name-p
{
    font-size: 1.5rem;
}

.about-omd
{
    width: 50vw; 
    
            font-family: "Raleway", sans-serif;
}

@media (max-width: 768px) {
    .tabicon-footer {
            width: 30%;
            border-radius: 50%;
            padding: 5%;
        }
    
        .flower-footer-wrapper {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

}









