.bg-footer 
{

    border-top: 1px solid black;
    padding: 50px 0 30px;
    height: 50vh;
background-color: rgba(230, 230, 230, 0.308);
        font-size: 14px;
                font-family: "Raleway", sans-serif;
}

.footer-heading {
    letter-spacing: 3px;
}

.mail-icon
{
    font-size: 1.4rem;
}

.org-icon
{
    font-size: 1.4rem;
}

.footer-link a {
 
    line-height: 40px;

    transition: all 0.5s;
}

.footer-link a:hover {
    color: #444237;
}





.company-name-p
{
    font-size: 1.5rem;
}

.about-omd
{
    width: 50vw; 
    
            font-family: "Raleway", sans-serif;
}

@media (max-width: 768px) {

    .company-name-p {
            font-size: 1.2rem;
        }

        .contact-info
        {
            font-size: 1.1rem;
        }
  
         .org-nbr{
       font-size: 1.1rem;
        }
}









