
.logo-navbar
{
    width: 50%;
 border-radius: 50%;
 margin-top: 3%;

}

.navlinks
{
    text-transform: uppercase;
        font-family: "Raleway", sans-serif;
}

.navbar {
    background-color: rgba(238, 238, 240, 0.843)!important;

}

@media (max-width: 768px) 
{
    .logo-navbar
    {
        width: 90vw;
  
    }
}