
.logo-navbar
{
    width: 40%;

}

.navlinks
{
    text-transform: uppercase;
        font-family: "Raleway", sans-serif;
}

.navbar-toggler 
{
    border: none;
    
}

@media (max-width: 768px) 
{
    .logo-navbar
    {
        width: 40vw;
  
    }
}