
.logo-navbar
{
    width: 50%;


}

.navlinks
{
    text-transform: uppercase;
        font-family: "Raleway", sans-serif;
}

.navbar {
    background-color: white !important;

}

@media (max-width: 768px) 
{
    .logo-navbar
    {
        width: 90vw;
  
    }
}