
.our-apps-wrapper
{
    width: 100vw;
    font-size: .9rem;
    height: 170vh; 
        padding-top: 18%;
        padding-bottom: 17%;
    display: flex;
        font-family: "Raleway", sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: center;
background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.apps-cont
{
    width: 83vw;
    display: flex;
    padding: 4%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 10px 30px rgba(128, 128, 128, 0.5);
}

.images-wrapper
{
    display:flex; 
    justify-content: center;
    align-items: center;
}
.icon-img
{
    margin: 2%; 
    border-radius: 10px;
    width: 20%;
}

.omd-header
{

    font-weight: 320;
            font-family: "Raleway", sans-serif;
}

.about-omd
{
    width: 90%;
    text-align: center;
    margin: 0 auto;

            font-family: "Raleway", sans-serif;
}

.honolulu-img
{
    width: 6%;
    margin: 1%; 
}

@media (max-width: 768px) 
{
    .images-wrapper
    {
       width: 95vw;
       margin-bottom: 5%;
    }
        .apps-cont {
            width: 90vw;
   
        }
    .icon-img {
            margin: 2%;
            border-radius: 10px;
            width: 23vw;
        }

                .our-apps-wrapper {
                    width: 100vw;
                    height: 160vh;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    font-size: .9rem;
                    align-items: center;
                }
                                .about-omd {
                                    width: 90vw;
                                     margin-top: 5%;
                                    font-family: "Raleway", sans-serif;
                                }
}