
.our-apps-wrapper
{
    width: 100vw;
    height: 80vh; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icon-img
{
    margin: 2%; 
    border-radius: 10px;
    width: 15%;
}

.omd-header
{
    font-weight: 300;
            font-family: "Raleway", sans-serif;
}

.about-omd
{
    width: 50vw; 
    
            font-family: "Raleway", sans-serif;
}