/* ========================= */
/* SECTION */
/* ========================= */

.policy-section {
    background: #ffffff;
}

/* ========================= */
/* CONTAINER */
/* ========================= */

.policy-container {
    max-width: 620px;
}

/* ========================= */
/* TITLE */
/* ========================= */

.policy-title {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
}

/* DATE */

.policy-date {
    text-align: center;
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 40px;
}

/* ========================= */
/* BLOCKS */
/* ========================= */

.policy-block {
    margin-bottom: 12px;
}

/* SUBHEADINGS */

.policy-block h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #111;
}

/* TEXT */

.policy-block p {
    font-size: 0.95rem;
    line-height: 1.7;
    color: #444;
}

/* EMAIL */

.policy-email {
    margin-top: 10px;
    color: #a94e62;
    font-weight: 500;
}

/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width: 768px) {

   

    .policy-title {
        font-size: 1.8rem;
    }

    .policy-block h3 {
        font-size: 1.1rem;
    }

    .policy-block p {
        font-size: 0.95rem;
    }

}