/* 🔥 FULL WIDTH BACKGROUND WRAPPER */
.video-sections-wrapper {
    width: 100%;
    background: #f4ced4;

    padding: 60px 0;
    /* luft uppe/ner */

    display: flex;
    flex-direction: column;
    gap: 40px;
}